/* 전체 배경 색상 및 폰트 설정 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f6f1;  /* 살구색 느낌의 배경 */
    color: #333;
    margin: 0;
    padding: 0;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* 헤더 스타일 */
h1, h2 {
    color: #f19c42;  /* 살구색 */
    font-size: 2em;
    margin-bottom: 20px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f19c42;  /* 살구색 */
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f0f0f0;
}

/* 버튼 스타일 */
.add-problem-set-btn, button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #f19c42;  /* 살구색 */
    color: white;
    text-decoration: none;
    border-radius: 30px;  /* 동글동글한 버튼 */
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
}

.add-problem-set-btn:hover, button:hover {
    background-color: #e68a29;  /* 더 어두운 살구색 */
}

/* 텍스트 입력 필드 스타일 */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus, textarea:focus {
    border-color: #f19c42;
    outline: none;
}

input[type="number"], textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"]:focus, textarea:focus {
    border-color: #f19c42;
    outline: none;
}

/* 홈 버튼 스타일 */
nav a {
    padding: 10px 20px;
    background-color: #f19c42;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: 15px;
}

nav a:hover {
    background-color: #e68929;
    transform: scale(1.05);
}

nav a:active {
    background-color: #c77724;
    transform: scale(0.95);
}
