<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시험 목록</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav>
        <a href="/">홈</a>
    </nav>

    <div class="container">
        <h1>시험 목록</h1>

        <!-- 시험 세트 추가 버튼 -->
        <a href="{% url 'problem_set_create' %}" class="add-problem-set-btn">시험 세트 추가</a>

        <table>
            <thead>
                <tr>
                    <th>시험 이름</th>
                    <th>점수</th>
                    <th>문제 수</th>
                    <th>생성일</th>
                    <th>상세보기</th>
                </tr>
            </thead>
            <tbody>
                {% for problem_set in problem_sets %}
                <tr>
                    <td>{{ problem_set.name }}</td>
                    <td>{{ problem_set.total_score }} / {{ problem_set.default_total_score }}</td>
                    <td>{{ problem_set.total_problems }}</td>
                    <td>{{ problem_set.created_at }}</td>
                    <td><a href="{% url 'problem_set_edit' problem_set.id %}">상세보기</a><br><a href="{% url 'problem_set_delete' problem_set.id %}">삭제</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>
</html>
